slm/xsd/geodesyml/0.4/monumentInfo.xsd

<?xml version="1.0"?>
<!--
License: CC By 4.0 (http://creativecommons.org/licenses/by/4.0/legalcode)
Copyright: Scripps Orbit and Permanent Array Center (SOPAC), Commonwealth Government (Geoscience Australia) 2016
-->
<schema elementFormDefault="qualified" targetNamespace="urn:xml-gov-au:icsm:egeodesy:0.4" version="0.4" xmlns:geo="urn:xml-gov-au:icsm:egeodesy:0.4" xml:lang="en" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2">
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <include schemaLocation="geodeticMonument.xsd"/>
    <annotation>
        <documentation>
            <p>Derived from SOPAC IGS Site Log XML Schema 2011</p>
            <ul>
                <li>http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/monumentInfo/2004/baseMonumentInfoLib.xsd</li>
                <li>http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/monumentInfo/2004/formInformation.xsd</li>
                <li>http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/monumentInfo/2004/monumentInfo.xsd</li>
                <li>http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/monumentInfo/2004/moreInformation.xsd</li>
                <li>http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/monumentInfo/2004/siteIdentification.xsd</li>
                <li>http://sopac.ucsd.edu/ns/geodesy/doc/igsSiteLog/monumentInfo/2004/siteLocation.xsd</li>
            </ul>
            <p>Modifications from original</p>
            <ul>
                <li>Made part of eGeodesy namespace</li>
                <li>Combined into single file</li>
                <li>In SiteLocation, replaced country with 3-letter countryISOCode</li>
                <li>In MoreInformation, added digital object identifier element (DOI)</li>
                <li>In SiteIdentification, added monumentNumber and receiverNumber</li>
                <li>Changed type of single date elements to gml:TimePositionType</li>
                <li>Replaced enumerations with gml code lists</li>
                <li>Changed type of numerical quantities from string to decimal</li>
                <li>Changed latitude and longitude elements from degrees-minutes-seconds to decimal degrees</li>
            </ul>
        </documentation>
    </annotation>
    <!-- Defined SimpleTypes for use with Site Identification Meta data schema -->
    <simpleType name="geologicCharacteristicType">
        <restriction base="string">
            <enumeration value="BEDROCK"/>
            <enumeration value="Bedrock"/>
            <enumeration value="CLAY"/>
            <enumeration value="Clay"/>
            <enumeration value="GRAVEL"/>
            <enumeration value="Gravel"/>
            <enumeration value="SAND"/>
            <enumeration value="Sand"/>
            <enumeration value="SEDIMENTS"/>
            <enumeration value="Sediments"/>
            <enumeration value="CONGLOMERATE"/>
            <enumeration value="Conglomerate"/>
            <enumeration value=""/>
        </restriction>
    </simpleType>
    <simpleType name="monumentDescriptionTypeOfType">
        <restriction base="string">
            <enumeration value="pillar"/>
            <enumeration value="brass plate"/>
            <enumeration value="steel mast"/>
            <enumeration value="shallow rod/braced antenna mount"/>
            <enumeration value="removeable tripod / concrete pad"/>
            <enumeration value="Wyatt/Agnew drilled-braced"/>
            <enumeration value="Wyatt/Agnew driven braced"/>
            <enumeration value="rock-pin/metal-tripod"/>
            <enumeration value="rock-pin"/>
            <enumeration value="glued-rod"/>
            <enumeration value="wall"/>
        </restriction>
    </simpleType>
    <simpleType name="bedrockTypeOfType">
        <restriction base="string">
            <enumeration value="IGNEOUS"/>
            <enumeration value="Igneous"/>
            <enumeration value="Metaigneous"/>
            <enumeration value="METAMORPHIC"/>
            <enumeration value="Metamorphic"/>
            <enumeration value="GRANITE"/>
            <enumeration value="Granite"/>
            <enumeration value="SEDIMENTARY"/>
            <enumeration value="Sedimentary"/>
            <enumeration value="CONGLOMERATE"/>
            <enumeration value="Conglomerate"/>
            <enumeration value="N/A"/>
            <enumeration value=""/>
        </restriction>
    </simpleType>
    <simpleType name="bedrockConditionsType">
        <restriction base="string">
            <enumeration value="FRESH"/>
            <enumeration value="Fresh"/>
            <enumeration value="JOINTED"/>
            <enumeration value="Jointed"/>
            <enumeration value="FRACTURED"/>
            <enumeration value="Fractured"/>
            <enumeration value="WEATHERED"/>
            <enumeration value="Weathered"/>
            <enumeration value="N/A"/>
            <enumeration value=""/>
        </restriction>
    </simpleType>
    <simpleType name="fractureSpacingTypeOfType">
        <restriction base="string">
            <enumeration value="1-10cm"/>
            <enumeration value="11-50cm"/>
            <enumeration value="51-200cm"/>
            <enumeration value="over 200cm"/>
            <enumeration value="N/A"/>
            <enumeration value=""/>
        </restriction>
    </simpleType>
    <simpleType name="faultZonesNearbyType">
        <restriction base="string">
            <enumeration value="Yes"/>
            <enumeration value="No"/>
            <enumeration value="Name_of_Zone"/>
            <enumeration value=""/>
        </restriction>
    </simpleType>
    <!--
    <simpleType name="dateInstalledType">
        <restriction base="string">
            <pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}Z"/>
        </restriction>
    </simpleType>
    -->
    <!-- SimpleType for use with Site Location Meta data schema -->
    <simpleType name="tectonicPlateTypeOfTypes">
        <restriction base="string">
            <enumeration value="African"/>
            <enumeration value="African Indian/Australia"/>
            <enumeration value="African Eurasian"/>
            <enumeration value="Antarctic"/>
            <enumeration value="Arabian"/>
            <enumeration value="Caribbean"/>
            <enumeration value="Cocos"/>
            <enumeration value="Eurasian"/>
            <enumeration value="Indian/Australian"/>
            <enumeration value="Nazca"/>
            <enumeration value="North America"/>
            <enumeration value="North America Pacific"/>
            <enumeration value="Pacific"/>
            <enumeration value="Phillipine"/>
            <enumeration value="South American"/>
            <enumeration value="South American African"/>
            <enumeration value="Juan De Fuca"/>
            <enumeration value="Scotia"/>
        </restriction>
    </simpleType>
    <complexType name="formInformationType">
        <sequence>
            <element name="preparedBy" type="string"/>
            <element name="datePrepared" type="gml:TimePositionType"/>
            <element name="reportType" type="string"/>
        </sequence>
    </complexType>
    <complexType name="moreInformationType">
        <sequence>
            <element maxOccurs="unbounded" name="dataCenter" type="string"/>
            <element name="urlForMoreInformation" type="string"/>
            <element name="siteMap" type="string"/>
            <element name="siteDiagram" type="string"/>
            <element name="horizonMask" type="string"/>
            <element name="monumentDescription" type="string"/>
            <element name="sitePictures" type="string"/>
            <element minOccurs="0" name="notes" type="string"/>
            <element name="antennaGraphicsWithDimensions" type="string"/>
            <element name="insertTextGraphicFromAntenna" type="string"/>
            <element name="DOI" type="gml:CodeType">
                <annotation>
                    <documentation>Data Digital Object Identifier</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="siteIdentificationType">
        <sequence>
            <element name="siteName" type="string"/>
            <element name="fourCharacterID" type="string"/>
            <element minOccurs="0" name="monumentNumber">
                <annotation>
                    <documentation>Number of monuments at the site</documentation>
                </annotation>
                <simpleType>
                    <restriction base="integer">
                        <totalDigits value="1"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="receiverNumber">
                <annotation>
                    <documentation>Number of receivers at the site</documentation>
                </annotation>
                <simpleType>
                    <restriction base="integer">
                        <totalDigits value="1"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="monumentInscription" type="string"/>
            <element name="iersDOMESNumber" type="string"/>
            <element name="cdpNumber" type="string"/>
            <!-- TODO: use gco -->
            <element minOccurs="0" name="monumentDescription" type="gml:CodeType"/>
            <element minOccurs="0" name="heightOfTheMonument" type="double"/>
            <element minOccurs="0" name="monumentFoundation" type="string"/>
            <element minOccurs="0" name="foundationDepth" type="double"/>
            <element minOccurs="0" name="markerDescription" type="string"/>
            <element minOccurs="0" name="dateInstalled" type="gml:TimePositionType"/>
            <!-- TODO: use gco -->
            <element minOccurs="0" name="geologicCharacteristic" type="gml:CodeType"/>
            <element minOccurs="0" name="bedrockType" type="string"/>
            <element minOccurs="0" name="bedrockCondition" type="string"/>
            <element minOccurs="0" name="fractureSpacing" type="string"/>
            <!-- TODO: use gco -->
            <element minOccurs="0" name="faultZonesNearby" type="gml:CodeType"/>
            <element minOccurs="0" name="distance-Activity" type="string"/>
            <element minOccurs="0" name="notes" type="string"/>
        </sequence>
    </complexType>

    <complexType name="cartesianPosition">
        <sequence>
	       <element ref="gml:Point"/>
	    </sequence>
    </complexType>
    <complexType name="geodeticPosition">
        <sequence>
           <element ref="gml:Point"/>
        </sequence>
    </complexType>   
    
    <complexType name="siteLocationType">
        <sequence>
            <element name="city" type="string"/>
            <element name="state" type="string"/>
            <element name="countryCodeISO" type="geo:countryCodeType" />
            <!-- TODO: use gco -->
            <element name="tectonicPlate" type="gml:CodeType"/>
            
            <element name="approximatePositionITRF">
                <complexType>
                    <!-- TODO Allow one or both, but not none of the allowed positioning points -->
		            <sequence>
		                <element name="cartesianPosition" type="geo:cartesianPosition" minOccurs="0"/>
		                <element name="geodeticPosition" type="geo:geodeticPosition" minOccurs="0"/>
		            </sequence>
                </complexType>
            </element>
            
            <element name="notes" type="string"/>
        </sequence>
    </complexType>    
</schema>
