src/slm/parsing/xsd/geodesyml/0.4/geodeticEquipment.xsd

<?xml version="1.0"?>
<!--
License: CC By 4.0 (http://creativecommons.org/licenses/by/4.0/legalcode)
Copyright: Scripps Orbit and Permanent Array Center (SOPAC), Commonwealth Government (Geoscience Australia) 2016
-->
<schema elementFormDefault="qualified" targetNamespace="urn:xml-gov-au:icsm:egeodesy:0.4" version="0.4" xmlns:geo="urn:xml-gov-au:icsm:egeodesy:0.4" xml:lang="en" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2">
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
    <include schemaLocation="fieldMeasurement.xsd"/>
    <annotation>
        <documentation>
            <p>Derived from SOPAC IGS Site Log XML Schema 2011</p>
            <ul>
                <li>http://sopac.ucsd.edu/ns/geodesy/base/geodeticEquipment/gnssAntenna/2003/10/gnssAntenna.xsd</li>
                <li>http://sopac.ucsd.edu/ns/geodesy/base/geodeticEquipment/gnssReceiver/2003/10/gnssReceiver.xsd</li>
                <li>http://sopac.ucsd.edu/ns/geodesy/base/geodeticEquipment/gnssRadome/2003/10/gnssRadome.xsd</li>
                <li>http://sopac.ucsd.edu/ns/geodesy/base/geodeticEquipment/2003/10/geodeticEquipment.xsd</li>
            </ul>
            <p>Modifications from original</p>
            <ul>
                <li>Made part of eGeodesy namespace</li>
                <li>Combined all geodetic equipment definitions into one file</li>
                <li>Changed baseGeodeticEquipmentType to inherit from geo:InstrumentType</li>
                <li>Defined radome, antenna, and receiver configuration types</li>
            </ul>
        </documentation>
    </annotation>
    <complexType name="geodeticEquipmentItemPropertyType">
        <sequence>
            <sequence minOccurs="0">
                <element ref="geo:geodeticEquipmentItem"/>
            </sequence>
            <group ref="geo:ChangeTracking"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
    </complexType>
    <element abstract="false" name="geodeticEquipmentItem" type="geo:baseGeodeticEquipmentType">
        <annotation>
            <documentation>
         Provides a base non-instantiable element type whose
         structure is a derived complex type.  This element
         can then be referenced as a substitutionGroup for
         equipment cataloges and such.
            </documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="baseGeodeticEquipmentType">
        <annotation>
            <documentation>
         Base Geodetic Equipment class.  Serves as a platform
         for the construction of other, more specific, types
         of equipment related to the field of geodesy.  More
         specifically, this class is designed for equipment
         that can be uniquely-identified.  In other words,
         actual physical objects used in geodetic practices.

         GeodesyML 0.2 change: Extend geo:InstrumentType and removed attr  final="restriction"
            </documentation>
        </annotation>
        <complexContent>
            <extension base="geo:InstrumentType">
                <sequence>
                    <!-- -->
                    <!-- Manufacturer Name -->
                    <!-- -->
                    <element minOccurs="0" name="manufacturerName" type="string"/>
                    <!-- -->
                    <!-- Manufacturer Model -->
                    <!-- -->
                    <element minOccurs="0" name="manufacturerModel" type="string"/>
                    <!-- -->
                    <!-- Manufacturer Part Number -->
                    <!-- -->
                    <element minOccurs="0" name="manufacturerPartNumber" type="string"/>
                    <!-- -->
                    <!-- Manufacturer Description -->
                    <!-- -->
                    <element minOccurs="0" name="manufacturerDescription" type="string"/>
                    <!-- -->
                    <!-- Manufacturer Serial Number -->
                    <!-- -->
                    <element name="manufacturerSerialNumber" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <!-- -->
    <!--  -->
    <!--<element name="gnssAntenna" type="geo:gnssAbstractAntennaType"/>-->
    <complexType abstract="true" name="AbstractGNSSAntennaType">
        <annotation>
            <documentation xml:lang="en">
        Instantiable, non-substituble, global complex type
        representing a GNSS Antenna uniquely-identified
        by a serial number and IGS model code.

        GeodesyML 0.2: removed block="#all" attribute.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="geo:baseGeodeticEquipmentType">
                <sequence>
                    <element minOccurs="0" name="igsModelCode" type="geo:igsAntennaModelCodeType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType abstract="false" block="#all" name="gnssAntennaConfigType">
        <annotation>
            <documentation xml:lang="en">
        Instantiable, non-substituble, global complex type
        representing the settings (transient properties)
        of a gnss antenna.
            </documentation>
        </annotation>
        <choice maxOccurs="2" minOccurs="0">
            <element minOccurs="0" name="antennaCableLengthMeters">
                <annotation>
                    <documentation>
            Refers to the length (in meters) of the cable
            used to connect the antenna to other gnss equipment
            (typically a gnss receiver or set of receivers).
                    </documentation>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="6"/>
                        <fractionDigits value="3"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="antennaCableType" type="string">
                <annotation>
                    <documentation>
            Refers to the type of cable
            used to connect the antenna to other gnss equipment
            (typically a gnss receiver or set of receivers).
                    </documentation>
                </annotation>
            </element>
        </choice>
    </complexType>
    <complexType abstract="false" block="#all" name="gnssAntennaHeightMeasurementType">
        <annotation>
            <documentation xml:lang="en">
        Instantiable, non-substituble, global complex type
        representing the measurement of a distance between
        a specified location on a gnss antenna and another
        location of choice.
            </documentation>
        </annotation>
        <choice maxOccurs="5">
            <element default="vertical" minOccurs="0" name="type" type="gml:CodeWithAuthorityType"/>
            <element name="value">
                <annotation>
                    <documentation>
            Refers to the distance (+|-) between the geodetic
            reference point of the associated monument, and a
            chosen reference point on the antenna.
                    </documentation>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="6"/>
                        <fractionDigits value="4"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" ref="gml:unitOfMeasure"/>
            <element default="BPA" minOccurs="0" name="referencePoint" type="gml:CodeWithAuthorityType"/>
            <element minOccurs="0" name="dateAndTimeUTC" type="gml:TimePositionType"/>
        </choice>
    </complexType>
    <complexType final="#all" name="igsAntennaModelCodeType">
        <annotation>
            <documentation xml:lang="en">
        Non-instantiable, non-substituable, non-extendable or
        restrictable global simple type representing a valid
        IGS antenna model code.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="gco:CodeListValue_Type"/>
        </complexContent>
    </complexType>
    <!-- -->
    <complexType block="#all" name="GnssRadomeType">
        <annotation>
            <documentation xml:lang="en">
        Instantiable, non-substituble, global complex type
        representing a GNSS Radome uniquely-identified
        by a serial number and IGS model code.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="geo:baseGeodeticEquipmentType">
                <sequence>
                    <element minOccurs="0" name="igsModelCode" type="geo:igsRadomeModelCodeType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType abstract="false" block="#all" name="gnssRadomeConfigType">
        <annotation>
            <documentation xml:lang="en">
        Instantiable, non-substituble, global complex type
        representing the settings (transient properties)
        of a gnss radome.
            </documentation>
        </annotation>
        <choice minOccurs="0">
            <element minOccurs="0" name="radomeFastenerType" type="string">
                <annotation>
                    <documentation>
            Refers to the type of fasteners used to secure a radome
            in place.  This is pretty much a bogus data field
            intended for future compatibility purposes.
          </documentation>
                </annotation>
            </element>
        </choice>
    </complexType>
    <complexType final="#all" name="igsRadomeModelCodeType">
        <annotation>
            <documentation xml:lang="en">
        Non-instantiable, non-substituable, non-extendable or
        restrictable global simple type representing a valid
        IGS radome model code.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="gml:CodeWithAuthorityType"/>
        </complexContent>
    </complexType>
    <element name="igsRadomeModelCode" type="geo:igsRadomeModelCodeType"/>
    <!-- -->
    <!--<element name="gnssReceiver" type="geo:AbstractGnssReceiverType"/>-->
    <complexType abstract="true" name="AbstractGNSSReceiverType">
        <annotation>
            <documentation xml:lang="en">
                Instantiable, non-substituble, global complex type
                representing a GNSS Receiver uniquely-identified
                by a serial number and IGS model code.

                GeodesyML 0.2 changes: removed  block="#all"
            </documentation>
        </annotation>
        <complexContent>
            <extension base="geo:baseGeodeticEquipmentType">
                <sequence>
                    <element minOccurs="0" name="igsModelCode" type="geo:igsReceiverModelCodeType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType abstract="false" block="#all" name="gnssReceiverConfigType">
        <annotation>
            <documentation xml:lang="en">
                Instantiable, non-substituble, global complex type
                representing the settings (transient properties)
                of a gnss receiver.
            </documentation>
        </annotation>
        <choice maxOccurs="6" minOccurs="0">
            <element minOccurs="0" name="satelliteSystem" type="gml:CodeListType">
                <annotation>
                    <documentation>
                        Refers to a satellite
                        constellation being observed by a gnss receiver.
                    </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="firmwareVersion" type="string">
                <annotation>
                    <documentation>
                        Refers to the manufacturer-
                        designated version of the firmware installed
                        on a gnss receiver.
                    </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="elevationCutoff" type="string">
                <annotation>
                    <documentation>
                        Refers to the elevation mask (or cutoff)
                        used on a gnss receiver.
                    </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="temperatureStabilization" type="string">
                <annotation>
                    <documentation>
                        Refers to the temperature stabilization
                        on a gnss receiver.
                    </documentation>
                </annotation>
            </element>
            <element minOccurs="0" name="sampleIntervalInSeconds">
                <annotation>
                    <documentation>
                        Refers to the sampling interval with which
                        observations are made with respect to the observed
                        constellation(s) of satellite(s).
                    </documentation>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="4"/>
                        <fractionDigits value="1"/>
                    </restriction>
                </simpleType>
            </element>
            <element minOccurs="0" name="nativeBaudRateInBPS">
                <annotation>
                    <documentation>
                        Refers to the sampling interval with which
                        observations are made with respect to the observed
                        constellation(s) of satellite(s).
                    </documentation>
                </annotation>
                <simpleType>
                    <restriction base="decimal">
                        <totalDigits value="6"/>
                        <fractionDigits value="0"/>
                    </restriction>
                </simpleType>
            </element>
        </choice>
    </complexType>
    <complexType final="#all" name="igsReceiverModelCodeType">
        <annotation>
            <documentation xml:lang="en">
                Non-instantiable, non-substituable, non-extendable or
                restrictable global simple type representing a valid
                IGS receiver model code.  With a codeList attribute
                to set the allowed types.
            </documentation>
        </annotation>
        <complexContent>
            <extension base="gco:CodeListValue_Type"/>
        </complexContent>
    </complexType>
</schema>
